<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Planet Python Japan</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/planet/css/planet.css" type="text/css">
    </head>
    <body>
        <h1>Admin RSS feed entry</h1>
        {% if feed_id %}
        <form action="./{{feed_id}}" method="POST">
        {% else %}
        <form action="./" method="POST">
        {% endif %}
        {{form.as_p}}
        <input type="submit" />
        </form>

    </body>
</html>
